html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
	padding: 25px;
	box-sizing: border-box;
	overflow: auto;
}
